ParticleSpy/__pycache__/
ParticleSpy/Parameters/
particlespy.egg-info/
ParticleSpy/__pycache__/*.pyc
*.pyc
ParticleSpy/Parameters/parameters_previous.hdf5
ParticleSpy/__pycache__/ptcl_class.cpython-37.pyc
